{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Web</title>
<meta name="google-signin-client_id" content="381937643256-r4dqk1eqmab7c167mqau6enteg7e38kd.apps.googleusercontent.com">
<!-- Bootstrap core CSS -->


<!-- Custom styles for this template -->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  href="{% static 'dashboard/css/product.css'%}">
<link rel="stylesheet"  href="{% static 'dashboard/css/dialog.css'%}">
<script type="text/JavaScript" src="{% static 'dashboard/js/addurl.js'%}"></script> 
<script type="text/JavaScript" src="{% static 'dashboard/js/changetable.js'%}"></script> 

<!-- Script for cross-site cookies-->


</head>
<body>
 <nav class="site-header py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    

     <a class="py-2 d-none d-md-inline-block" href="/Dashboard">Dashboard</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="/Dashboard/profile">Profile</a>
    <a href="/Dashboard/logout"><button class="btn btn-outline-secondary btn-color" >Logout</button></a>
   
  </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-dark">
  <div class="col-md-5 mx-auto">
    <h1 class="display-4 titleposition">Add Shortcut</h1>
 </div>
  </div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 px-md-3 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
 


<!-- Trigger/Open The Modal -->
  
        

        <form class="form-addurl" id=""  method="post">
        {% csrf_token %}
        
          <div id="title" class="field-container">
            <label id="title-field-name" class="field-title" aria-label="Name">Name</label>
            <div class="input-container">

              <input name="mainname" id="title-field" class="field-input" type="text" autocomplete="off" tabindex="0">
              <div class="underline"></div>
            </div>
          </div>
          <div id="url" class="field-container">
            <label id="url-field-name" class="field-title" aria-label="URL">URL</label>
            <div class="input-container">

              <input name="main" id="url-field" class="field-input" type="text" autocomplete="off" spellcheck="false" dir="ltr" tabindex="0" required="">

              <input type="hidden" id="table" name="table_id">

              <div class="underline"></div>
            </div>
            <div id="invalid-url" class="error-msg">Type a valid URL</div>
          </div>
          <div class="buttons-container">
            
            <span>
              <button onclick = gettable() type="submit" class="btn btn-outline-secondary btn-color" tabindex="0" title="Add shortcut"  aria-label="Add shortcut">Done</button>
              <button onclick="location.href='/Dashboard'" id="cancel" class="btn btn-outline-secondary btn-color" type="button" tabindex="0" title="Cancel" aria-label="Cancel">Cancel</button>

            </span>
          </div>
          
        </form>
    
    </div> <!-- /container -->
    </div>
    </div>

  </body>
</html>
