{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{% static 'dashboard/css/product.css'%}">
<link rel="stylesheet"  href="{% static 'dashboard/css/dialog.css'%}">
<script type="text/JavaScript" src="{% static 'dashboard/js/carousel.js'%}"></script> 
<script type="text/JavaScript" src="{% static 'dashboard/js/editurls.js'%}"></script> 
<script type="text/JavaScript" src="{% static 'dashboard/js/editheaders.js'%}"></script> 
<script type="text/JavaScript" src="{% static 'dashboard/js/testdrag.js'%}" defer></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<nav class="site-header py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    
<!--Need to fix re-directs-->
<!--need to fix in page dashboard redirects from a tag remove target blank-->
    <a class="py-2 d-none d-md-inline-block" href="/Dashboard">Dashboard</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="/Dashboard/profile">Profile</a>
    <a href="/Dashboard/logout"><button class="btn btn-outline-secondary btn-color">Logout</button></a>
   
    
  </div>
</nav>


 <div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-color">
  <div class="col-md-5 mx-auto">
    <h1 class="display-4 titleposition">Web Dashboard</h1>
 </div>
  </div>

<!--need to create this as a 3 column-->
<!--Not sure if i should create this as a list or icons(Favicon)-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 ">
  <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  
  <div class="column-header">


    {% if link1 %}
  
     {% for link in link1 %}
    

      {% if link.header_id == 'header_1'%}
   

      <a href="{% url 'editheaders' pk=link.pk %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">{{link.header_name}}</h2>
     
      {% else %}
       
       <a href="{% url 'addheader' header_id="header_1" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
 
      
      {% endif %} 
     
     {% endfor %}

    {% else %}
       
       <a href="{% url 'addheader' header_id="header_1" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
    {% endif %} 
     
       </a>   
    </div>

   <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
   <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
  </ol> 
  
<div class="carousel-inner"> 
  
    <div class="carousel-item active">

    
    <div class="entirecolumn" id="items">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_1"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_1"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>

     <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 1</h>
  </div>
  
       </div>
  </div>
    
    <div class="carousel-item">
        
  <div class="entirecolumn" id="items6">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_7"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_7"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>
 <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 2</h>
  </div>
    
  
       </div>
    </div>
    
  <a class="carousel-control-prev1 arrowspaceleft" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next1 arrowspaceright" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
</div>
</div>
   

  <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
   
   <div class="column-header">

   {% if link2 %}
     {% for link in link2  %}
    

      {% if link.header_id == 'header_2'%}
    
      <a href="{% url 'editheaders' pk=link.pk %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">{{link.header_name}}</h2>
      
      {% else %}
       
       <a href="{% url 'addheader' header_id="header_2" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
     {% endif %} 
     {% endfor %}

    {% else %}
       
       <a href="{% url 'addheader' header_id="header_2" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
      

    {% endif %} 
     
       </a>   
    </div>

   <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
   <ol class="carousel-indicators">
    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel1" data-slide-to="1"></li>
  </ol> 
  
<div class="carousel-inner"> 
  
    <div class="carousel-item active">

    
    <div class="entirecolumn" id="items1">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_2"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_2"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>

     <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 1</h>
  </div>
  
       </div>
  </div>
    
    <div class="carousel-item">
        
  <div class="entirecolumn" id="items7">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_8"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_8"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>
 <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 2</h>
  </div>
    
  
       </div>
    </div>
    
  <a class="carousel-control-prev1 arrowspaceleft" href="#carousel1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next1 arrowspaceright" href="#carousel1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
</div>
</div>

   <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    
    <div class="column-header">

   {% if link3 %}
     {% for link in link3 %}
    

      {% if link.header_id == 'header_3'%}
    
      <a href="{% url 'editheaders' pk=link.pk %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">{{link.header_name}}</h2>
      
      {% else %}
       
       <a href="{% url 'addheader' header_id="header_3" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
 
      
        {% endif %} 
     
     {% endfor %}

    {% else %}
       
       <a href="{% url 'addheader' header_id="header_3" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
      

    {% endif %} 
     
       </a>   
    </div>
<div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="false">
   <ol class="carousel-indicators">
    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel2" data-slide-to="1"></li>
  </ol> 
  
<div class="carousel-inner"> 
  
    <div class="carousel-item active">

    
    <div class="entirecolumn" id="items2">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_3"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_3"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>

     <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 1</h>
  </div>
  
       </div>
  </div>
    
    <div class="carousel-item">
        
  <div class="entirecolumn" id="items8">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_9"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_9"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>
 <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 2</h>
  </div>
    
  
       </div>
    </div>
    
  <a class="carousel-control-prev1 arrowspaceleft" href="#carousel2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next1 arrowspaceright" href="#carousel2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
</div>
</div>
</div>
  

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  
  <div class="column-header">
   
   {% if link4 %}
     {% for link in link4 %}
    

      {% if link.header_id == 'header_4'%}
    
      <a href="{% url 'editheaders' pk=link.pk %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">{{link.header_name}}</h2>
      
      {% else %}
       
       <a href="{% url 'addheader' header_id="header_4" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
 
      
        {% endif %} 
     
     {% endfor %}

    {% else %}
       
       <a href="{% url 'addheader' header_id="header_4" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
      

    {% endif %} 
     
       </a>   
    </div>

<div id="carousel3" class="carousel slide" data-ride="carousel" data-interval="false">
   <ol class="carousel-indicators">
    <li data-target="#carousel3" data-slide-to="0" class="active"></li>
    <li data-target="#carousel3" data-slide-to="1"></li>
  </ol> 
  
<div class="carousel-inner"> 
  
    <div class="carousel-item active">

    
    <div class="entirecolumn" id="items3">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_4"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_4"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>

     <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 1</h>
  </div>
  
       </div>
  </div>
    
    <div class="carousel-item">
        
  <div class="entirecolumn" id="items9">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_10"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_10"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>
 <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 2</h>
  </div>
    
  
       </div>
    </div>
    
  <a class="carousel-control-prev1 arrowspaceleft" href="#carousel3" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next1 arrowspaceright" href="#carousel3" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
</div>
</div>

   <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    
     <div class="column-header">
   
   {% if link5 %}
     {% for link in link5 %}
    

      {% if link.header_id == 'header_5'%}
    
      <a href="{% url 'editheaders' pk=link.pk %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">{{link.header_name}}</h2>
      
      {% else %}
       
       <a href="{% url 'addheader' header_id="header_5" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
 
      
        {% endif %} 
     
     {% endfor %}

    {% else %}
       
       <a href="{% url 'addheader' header_id="header_5" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
      

    {% endif %} 
     
       </a>   
    </div>

<div id="carousel4" class="carousel slide" data-ride="carousel" data-interval="false">
   <ol class="carousel-indicators">
    <li data-target="#carousel4" data-slide-to="0" class="active"></li>
    <li data-target="#carousel4" data-slide-to="1"></li>
  </ol> 
  
<div class="carousel-inner"> 
  
    <div class="carousel-item active">

    
    <div class="entirecolumn" id="items4">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_5"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_5"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>

     <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 1</h>
  </div>
  
       </div>
  </div>
    
    <div class="carousel-item">
        
  <div class="entirecolumn" id="items10">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_11"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_11"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>
 <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 2</h>
  </div>
    
  
       </div>
    </div>
    
  <a class="carousel-control-prev1 arrowspaceleft" href="#carousel4" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next1 arrowspaceright" href="#carousel4" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
</div>
</div>

<!--need to create this as a 3 column-->
  <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  
  <div class="column-header">
    
    {% if link6 %}
     {% for link in link6 %}
    

      {% if link.header_id == 'header_6'%}
    
      <a href="{% url 'editheaders' pk=link.pk %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">{{link.header_name}}</h2>
      
     {% else %}
       
       <a href="{% url 'addheader' header_id="header_6" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
 
      
        {% endif %} 
     
     {% endfor %}

    {% else %}
       
       <a href="{% url 'addheader' header_id="header_6" %}" id="none" >
      <h2 class="btn-outline-secondary btn-color" id="lbl1">Add Header</h2>
      
      

    {% endif %} 
     
       </a>   
    </div>

<div id="carousel5" class="carousel slide" data-ride="carousel" data-interval="false">
   <ol class="carousel-indicators">
    <li data-target="#carousel5" data-slide-to="0" class="active"></li>
    <li data-target="#carousel5" data-slide-to="1"></li>
  </ol> 
  
<div class="carousel-inner"> 
  
    <div class="carousel-item active">

    
    <div class="entirecolumn" id="items5">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_6"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_6"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>

     <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 1</h>
  </div>
  
       </div>
  </div>
    
    <div class="carousel-item">
        
  <div class="entirecolumn" id="items11">
     
       {% for link in linktomain %}
   
    {% if link.table_id == "table_12"%}
   
 
    <div class="column" data-id="{{link.pk}}">

       <a href="{{link.main}}"  target="_blank" ><img  class="iconimage" src={{link.mainfavicon}} >
      <p class="textcolor">{{link.mainname}}</p>
       <a href="{% url 'editurl' pk=link.pk %}" id="myeditBtn" class="md-menu" title="Edit shortcut" aria-label="Edit shortcut"></a>
      </a>

      </div>
      
     {% endif %}
      {% endfor %}   
    
    <div class="column">
       <a href="{% url 'addurl' table_id="table_12"%}" id="myBtn"><img class="iconimage" src="{% static 'dashboard/images/addmore.png'%}">
      <p class="textcolor">Add More</p></a>
        
    </div>
 <div class="carousel-caption d-none d-md-block">
    
    <h>Shortcut Slide 2</h>
  </div>
    
  
       </div>
    </div>
    
  <a class="carousel-control-prev1 arrowspaceleft" href="#carousel5" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next1 arrowspaceright" href="#carousel5" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
</div>
</div>

</div>
<footer class="footer-distributed bg-color">


			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Dashboard</a>
					
					<a href="#">Product</a>
					
					<a href="#">Features</a>
					
					<a href="#">Support</a>
					
					<a href="#">Profile</a>
					
					<a href="#">Sign In</a>
				</p>
        <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			
			</div>	
      <p>Web Dashboard © 2019 All Rights Reserved</p>
     </div>
		</footer>

<!--next row entirely-->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script type="text/JavaScript" src="{% static 'dashboard/js/trydrag.js'%}"></script> 

</body>
</html>
