{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Web</title>
<meta name="google-signin-client_id" content="381937643256-r4dqk1eqmab7c167mqau6enteg7e38kd.apps.googleusercontent.com">
<!-- Bootstrap core CSS -->


<!-- Custom styles for this template -->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  href="{% static 'dashboard/css/product.css'%}">
<link rel="stylesheet"  href="{% static 'dashboard/css/dialog.css'%}">
<script type="text/JavaScript" src="{% static 'dashboard/js/addurl.js'%}"></script> 

<!-- Script for cross-site cookies-->


</head>
<body>
 <nav class="site-header py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    

     <a class="py-2 d-none d-md-inline-block" href="/Dashboard">Dashboard</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="/Dashboard/profile">Profile</a>
    <a class="btn btn-outline-secondary" href="/Dashboard/logout">Logout</a>
   
  </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-dark">
  <div class="col-md-5 mx-auto">
    <h1 class="display-4 titleposition">Web Dashboard</h1>
 </div>
  </div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 px-md-3 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
 
    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'editinglinks'%}
            <h2>Edit URL</h2>
        {% else %}
            <h2>Delete URL</h2>
        {% endif %}
    {% endwith %}


<!-- Trigger/Open The Modal -->
    {% if messages %}
        {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button>
                </div>
        {% endfor %}
    {% else %}
  
  <form class="form-addurl" id=""  method="post">
        {% csrf_token %}

        {% for field in form %}
            <label>{{field.label_tag}}</label>
            {{field}}
        {% endfor%}
       
        {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'editinglinks'%}
           <button type="submit">Save</button>
        {% else %}
            <button type="submit">Delete</button>
         {% endif %}
         {% endwith %}
        
          
        </form>

    {% endif %}
    
    </div> <!-- /container -->
    </div>
    </div>

  </body>
</html>
